* {
    padding: 0;
    margin: 0;
    border: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

*:before,
*:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #01130a;
}

header {
    width: 100%;
    height: 100px;
    border-bottom: rgba(8, 83, 12, 0.2) solid 2px;

    .hcontainer {
        padding: 0 20px;
        max-width: 1440px;
        height: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .header__items-left {
            display: flex;
            align-items: center;
            gap: 15px;
            cursor: pointer;

            .header__logo-img {
                background-image: url(/logoispum/assets/logo.png);
                background-size: 100%;
                background-repeat: no-repeat;
                background-position: center;
                width: 30px;
                height: 30px;
            }

            .header__logo-text {
                color: white;
                font-size: 20px;
            }
        }

        .header__items-right {
            display: flex;
            align-items: center;
            gap: 15px;

            .header__how {
                color: white;
                font-size: 15px;
                cursor: pointer;
            }

            .header__features {
                color: white;
                font-size: 15px;
                cursor: pointer;
            }
        }
    }
}

.container {
    max-width: 1440px;
    padding: 0 20px;
    margin: 0 auto;
}

.start-screen {
    width: 100%;

    .start-screen__container {
        display: flex;
        align-items: center;
        flex-direction: row-reverse;
        justify-content: space-between;

        .start-screen__img {
            background-image: url(/logoispum/assets/phone.png);
            background-repeat: no-repeat;
            background-position: center;
            width: 350px;
            height: 700px;
            background-size: 100%;
            z-index: 0;
        }

        .start-screen__items {
            display: flex;
            flex-direction: column;
            margin: 150px 0;
            gap: 40px;
            z-index: 1;

            .start-screen__title {
                color: white;
                font-size: 90px;
            }

            .start-screen__text {
                color: white;
                font-size: 30px;
                line-height: 50px;
            }

            .start-screen__button {
                width: 220px;
                height: 60px;
                background-color: rgb(0, 255, 200);
                border-radius: 5px;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                font-weight: bold;
            }
        }
    }
}

.integrations {
    width: 100%;

    .integrations__container {
        display: flex;
        align-items: center;
        flex-direction: column;

        .integrations__title {
            text-align: center;
            color: white;
            font-size: 17px;
            width: 100%;
        }

        .integrations__box {
            width: 100%;
            height: 70px;
        }
    }
}

.how {
    width: 100%;
    margin: 200px 0 0 0;


    .how_container {
        display: flex;
        align-items: center;
        flex-direction: column;
        border-top: rgba(8, 83, 12, 0.2) solid 2px;
        border-left: rgba(8, 83, 12, 0.2) solid 2px;
        border-right: rgba(8, 83, 12, 0.2) solid 2px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        padding: 0 0 60px 0;


        .how__title {
            margin: 50px 0 0 0;
            font-size: 50px;
            color: white;
            font-weight: bold;
        }

        .how__text {
            margin: 50px 0;
            font-size: 20px;
            color: white;
        }

        .how__img {
            background-image: url(/logoispum/assets/phone2.png);
            background-repeat: no-repeat;
            background-position: center;
            width: 300px;
            height: 500px;
            background-size: 100%;
            z-index: 1;
            position: absolute;
            margin-top: 250px;

            .how__img-background {
                position: absolute;
                width: 190px;
                height: 410px;
                background-color: rgba(255, 255, 255, 0.1);
                z-index: 0;
                margin: 45px 0 0 55px;
                border-radius: 20px;
            }
        }

        .how__items {
            display: flex;
            gap: 50px;

            .how__item {
                display: flex;
                gap: 12px;
                align-items: center;

                .how__check-mark {
                    width: 30px;
                    height: 30px;
                    background-color: rgb(0, 255, 200);
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-weight: bold;
                }

                .how__check-text {
                    font-size: 20px;
                    color: white;
                }
            }
        }

        .how__subtitle {
            font-size: 40px;
            color: white;
            text-align: center;
            font-weight: bold;
            margin: 400px 0 0 0;
            line-height: 60px;
            z-index: 2;
        }

        .how__button {
            margin: 40px 0 0 0;
            width: 220px;
            height: 60px;
            background-color: rgb(0, 255, 200);
            border-radius: 5px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            font-weight: bold;
        }
    }
}

.charge {
    width: 100%;
    margin: 100px 0 100px 0;

    .charge__container {
        display: flex;
        align-items: center;
        flex-direction: column;

        .charge__title {
            font-size: 50px;
            color: white;
            text-align: center;
            font-weight: bold;
        }

        .charge__subtitle {
            margin: 20px 0 0 0;
            font-size: 20px;
            color: white;
            text-align: center;
        }

        .charge__items {
            display: flex;
            margin: 50px 0 0 0;
            gap: 50px;
            flex-wrap: wrap;
            justify-content: space-around;


            .charge__item {
                border: rgba(8, 83, 12, 0.2) solid 2px;
                border-radius: 12px;
                padding: 30px;
                display: flex;
                flex-direction: column;
                gap: 15px;

                .charge__item-upper {
                    display: flex;
                    height: 30px;
                    gap: 15px;
                    align-items: center;

                    .charge__energy {
                        color: white;
                        font-weight: bold;
                        width: 30px;
                        height: 30px;
                        background-color: rgb(0, 255, 200);
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border-radius: 3px;
                    }

                    .charge__item-title {
                        font-size: 17px;
                        color: white;
                        font-weight: bold;
                    }
                }

                .charge__item-subtitle {
                    font-size: 14px;
                    color: white;
                }
            }
        }
    }
}